<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<span th:text="你好"></span>
<hr>


<span th:text="${msg}"></span>
<br/>


<input th:value="${msg}">

<hr>
<span th:text="${#strings.isEmpty(msg)}"></span><br/>
<span th:text="${#strings.contains(msg,'th')}"></span><br/>
<span th:text="${#strings.startsWith(msg,'th')}"></span><br/>
<span th:text="${#strings.endsWith(msg,'th')}"></span><br/>
<span th:text="${#strings.length(msg)}"></span><br/>
<span th:text="${#strings.indexOf(msg,'th')}"></span><br/>
<span th:text="${#strings.substring(msg,5)}"></span><br/>
<span th:text="${#strings.substring(msg,5,9)}"></span><br/>
<span th:text="${#strings.toUpperCase(msg)}"></span><br/>
<span th:text="${#strings.toLowerCase(msg)}"></span><br/>
<hr>


<span th:text="${date}"></span><br/>
<span th:text="${#dates.format(date)}"></span><br/>
<span th:text="${#dates.format(date,'yyyy-MM-dd HH:mm:ss')}"></span><br/>
<span th:text="${#dates.year(date)}"></span><br/>
<span th:text="${#dates.month(date)}"></span><br/>
<span th:text="${#dates.day(date)}"></span><br/>
<hr>

<span th:if="${sex} == 男">性別:男</span><br/>
<span th:if="${sex} == 女">性別:女</span><br/>
<hr>



<div th:switch="${id}">
    <span th:case="1">ID 为 1</span>
    <span th:case="2">ID 为 2</span>
    <span th:case="3">ID 为 3</span>
</div>


<table border="1">
    <tr th:each="item : ${list}">
        <td th:text="${item}"></td>
    </tr>
</table>

<table border="1">
    <tr th:each="item : ${map}">
        <td th:text="${item.key}"></td>
        <td th:text="${item.value}"></td>
    </tr>
</table>


</body>
</html>
